.pdpg-clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.pdpg-wrap {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0;
}

.pdpg-main-content {
    float: left;
    width: 60%;
}

.pdpg-side-content {
    float: right; 
    width: 30%;
}

.pdpg-side-content ul {
    list-style-type: none;
    padding: 0;
}

.pdpg-side-content ul li {
    padding: 0.6rem;
    border-bottom: 1px solid #eee;
    font-size: 0.85rem;
}

.pdpg-side-content ul li strong {
    float: right;
}

.pdpg-side-content ul li a:hover {
    font-weight: bold;
}

.pdpg-side-content .pdpg-tags-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.pdpg-side-content .pdpg-tags {
    float: right;
    width: 60%;
    text-align: right;
}

.pdpg-side-content .pdpg-tags span {
    display: inline-block;
    padding: 3px 6px;
    background-color: #eee;
    border-radius: 2px;
    margin: 2px;
}

@media (max-width: 768px) {
	.pdpg-wrap {
	    width: 90%;
	}
	
	.pdpg-main-content {
    	float: none;
    	width: 100%;
	}

	.pdpg-side-content {
    	float: none; 
    	width: 100%;
	}
}

/* TEMPLATE */
.pdpg-image {
    height: auto;
}